In [2]:
import numpy as np
import pandas as pd

In [3]:
#to get the same random numbers we do the following
from numpy.random import randn
np.random.seed(101)

In [6]:
#using DataFrame()
df = pd.DataFrame(randn(5,4), ['a','b','c','d','e'], ['w','x','y','z'])
df

          w         x         y         z
a -0.993263  0.196800 -1.136645  0.000366
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810
e -0.925874  1.862864 -1.133817  0.610478

In [9]:
#calling one or more columns from dataframe
print(df['w']) #if a single column is caled, then a series is returned
print(df[['w','x']]) #if multiple columns are called, then a dataframe is returned

a   -0.993263
b    1.025984
c    2.154846
d    0.147027
e   -0.925874
Name: w, dtype: float64
          w         x
a -0.993263  0.196800
b  1.025984 -0.156598
c  2.154846 -0.610259
d  0.147027 -0.479448
e -0.925874  1.862864

In [11]:
#creating a new column in an existing dataframe
df['new'] = df['y'] + df['z']
df

          w         x         y         z       new
a -0.993263  0.196800 -1.136645  0.000366 -1.136278
b  1.025984 -0.156598 -0.031579  0.649826  0.618247
c  2.154846 -0.610259 -0.755325 -0.346419 -1.101744
d  0.147027 -0.479448  0.558769  1.024810  1.583580
e -0.925874  1.862864 -1.133817  0.610478 -0.523339

In [16]:
#using drop() to drop columns or rows of a dataframe
print(df.drop('new', axis=1)) #column/row name, axis=0 for row/1 for column, inplace=False by default which means the og dataframe is not affected by the drop(), if you want to drop() from the og dataframe too, then use inplace=True
print(df)

          w         x         y         z
a -0.993263  0.196800 -1.136645  0.000366
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810
e -0.925874  1.862864 -1.133817  0.610478
          w         x         y         z       new
a -0.993263  0.196800 -1.136645  0.000366 -1.136278
b  1.025984 -0.156598 -0.031579  0.649826  0.618247
c  2.154846 -0.610259 -0.755325 -0.346419 -1.101744
d  0.147027 -0.479448  0.558769  1.024810  1.583580
e -0.925874  1.862864 -1.133817  0.610478 -0.523339

In [17]:
df.drop('new', axis=1, inplace=True)
df

          w         x         y         z
a -0.993263  0.196800 -1.136645  0.000366
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810
e -0.925874  1.862864 -1.133817  0.610478

In [20]:
print(df.drop('e', axis=0))#axis=0 is default but still have mentioned it here
print(df)

          w         x         y         z
a -0.993263  0.196800 -1.136645  0.000366
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810
          w         x         y         z
a -0.993263  0.196800 -1.136645  0.000366
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810
e -0.925874  1.862864 -1.133817  0.610478