In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({'col1': [1,2,3,4],
                    'col2': [444,555,666,444],
                    'col3': ['abc', 'def', 'ghi','xyz']
})
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [5]:
#to get all unique values from a column
df['col2'].unique()

array([444, 555, 666], dtype=int64)