In [1]:
import numpy as np
import pandas as pd

In [2]:
#to get the same random numbers we do the following
from numpy.random import randn
np.random.seed(101)

In [3]:
#using DataFrame()
df = pd.DataFrame(randn(5,4), ['a','b','c','d','e'], ['w','x','y','z'])#DataFrame(data, rows/index, columns)
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [4]:
#calling one or more columns from dataframe
print(df['w']) #if a single column is caled, then a series is returned
print(df[['w','x']]) #if multiple columns are called, then a dataframe is returned

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64
          w         x
a  2.706850  0.628133
b  0.651118 -0.319318
c -2.018168  0.740122
d  0.188695 -0.758872
e  0.190794  1.978757

In [10]:
#calling one or more rows form dataframe using loc[](name based) or iloc[](index based)
#if a single row is called then a series is returned
print(df.loc['a'])
print(df.iloc[0])

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64
w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [11]:
#to call a specific location/cell
df.loc['a','y']

0.9079694464765431

In [12]:
#to call certain rows and columns
df.loc[['a','e'], ['w','z']]

          w         z
a  2.706850  0.503826
e  0.190794  0.683509

In [5]:
#creating a new column in an existing dataframe
df['new'] = df['y'] + df['z']
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  1.411795
b  0.651118 -0.319318 -0.848077  0.605965 -0.242112
c -2.018168  0.740122  0.528813 -0.589001 -0.060187
d  0.188695 -0.758872 -0.933237  0.955057  0.021819
e  0.190794  1.978757  2.605967  0.683509  3.289476

In [6]:
#using drop() to drop columns or rows of a dataframe
print(df.drop('new', axis=1)) #column/row name, axis=0 for row/1 for column, inplace=False by default which means the og dataframe is not affected by the drop(), if you want to drop() from the og dataframe too, then use inplace=True
print(df)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509
          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  1.411795
b  0.651118 -0.319318 -0.848077  0.605965 -0.242112
c -2.018168  0.740122  0.528813 -0.589001 -0.060187
d  0.188695 -0.758872 -0.933237  0.955057  0.021819
e  0.190794  1.978757  2.605967  0.683509  3.289476

In [7]:
df.drop('new', axis=1, inplace=True)
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [8]:
print(df.drop('e', axis=0))#axis=0 is default but still have mentioned it here
print(df)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509