In [1]:
import pandas as pd
import numpy as np

In [2]:
d = {'a': [1,2,np.nan], 'b': [5,np.nan,np.nan], 'c': [1,2,3]}

In [3]:
df = pd.DataFrame(d)
df

     a    b  c
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [4]:
#using dropna() to drop any rows or columns that have NULL value/NaN

print(df.dropna(axis=0))#axis=0 is default, if you want to drop columns instead, use axis=1

print(df.dropna(axis=1))

     a    b  c
0  1.0  5.0  1
   c
0  1
1  2
2  3

In [5]:
#to define a threshold in dropna() function, pass it as an argument, so >= thresh will not be dropped
df.dropna(thresh=2)

     a    b  c
0  1.0  5.0  1
1  2.0  NaN  2

In [6]:
#to fill value in places where it's NaN, use fillna()
df.fillna(value='Filled Value')

              a             b  c
0           1.0           5.0  1
1           2.0  Filled Value  2
2  Filled Value  Filled Value  3

In [7]:
#to fill the NaN value with mean of the column
df['a'].fillna(value=df['a'].mean())

0    1.0
1    2.0
2    1.5
Name: a, dtype: float64