In [1]:
import numpy as np
import pandas as pd

In [2]:
#to get the same random numbers we do the following
from numpy.random import randn
np.random.seed(101)

In [3]:
#using DataFrame()
df = pd.DataFrame(randn(5,4), ['a','b','c','d','e'], ['w','x','y','z'])#DataFrame(data, rows/index, columns)
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [4]:
#calling one or more columns from dataframe
print(df['w']) #if a single column is caled, then a series is returned
print(df[['w','x']]) #if multiple columns are called, then a dataframe is returned

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64
          w         x
a  2.706850  0.628133
b  0.651118 -0.319318
c -2.018168  0.740122
d  0.188695 -0.758872
e  0.190794  1.978757

In [5]:
#calling one or more rows form dataframe using loc[](name based) or iloc[](index based)
#if a single row is called then a series is returned
print(df.loc['a'])
print(df.iloc[0])

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64
w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [6]:
#to call a specific location/cell
df.loc['a','y']

0.9079694464765431

In [7]:
#to call certain rows and columns
df.loc[['a','e'], ['w','z']]

          w         z
a  2.706850  0.503826
e  0.190794  0.683509

In [8]:
#creating a new column in an existing dataframe
df['new'] = df['y'] + df['z']
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  1.411795
b  0.651118 -0.319318 -0.848077  0.605965 -0.242112
c -2.018168  0.740122  0.528813 -0.589001 -0.060187
d  0.188695 -0.758872 -0.933237  0.955057  0.021819
e  0.190794  1.978757  2.605967  0.683509  3.289476

In [9]:
#using drop() to drop columns or rows of a dataframe
print(df.drop('new', axis=1)) #column/row name, axis=0 for row/1 for column, inplace=False by default which means the og dataframe is not affected by the drop(), if you want to drop() from the og dataframe too, then use inplace=True
print(df)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509
          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  1.411795
b  0.651118 -0.319318 -0.848077  0.605965 -0.242112
c -2.018168  0.740122  0.528813 -0.589001 -0.060187
d  0.188695 -0.758872 -0.933237  0.955057  0.021819
e  0.190794  1.978757  2.605967  0.683509  3.289476

In [10]:
df.drop('new', axis=1, inplace=True)
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [12]:
print(df.drop('e', axis=0))#axis=0 is default but still have mentioned it here
print(df)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [15]:
#conditional selection is same as in numpy
#1
print(df > 0)

                    #in 1,2 it returns boolean value dataframe

#2
booldf = df > 0
print(booldf)

#3
print(df[booldf])

                    #in 3,4 it returns values of the cells in which the conditionn is true and NaN in which it's false

#4
print(df[df>0])

       w      x      y      z
a   True   True   True   True
b   True  False  False   True
c  False   True   True  False
d   True  False  False   True
e   True   True   True   True
       w      x      y      z
a   True   True   True   True
b   True  False  False   True
c  False   True   True  False
d   True  False  False   True
e   True   True   True   True
          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
d  0.188695       NaN       NaN  0.955057
e  0.190794  1.978757  2.605967  0.683509
          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
d  0.188695       NaN       NaN  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [17]:
#conditional selection based on rows
print(df['w'] > 0)#this will return a bool series
print(df[df['w']>0])# this will return the dataframe with rows that satisfy the condition, no NaN will be returned

a     True
b     True
c    False
d     True
e     True
Name: w, dtype: bool
          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [19]:
#to perform more commands on the resulting dataframe 

#1
resultdf = df[df['w']>0]
print(resultdf['x'])

                            #both yeild the same result but there are 2 ways to do it

#2
print(df[df['w']>0]['x'])

a    0.628133
b   -0.319318
d   -0.758872
e    1.978757
Name: x, dtype: float64
a    0.628133
b   -0.319318
d   -0.758872
e    1.978757
Name: x, dtype: float64

In [25]:
#for multiple conditional selection, we have to use &, | as and, or respectively
print(df[(df['w']>0) & (df['y']>0)])
print(df[(df['w']>1) | (df['x']>1)])

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
e  0.190794  1.978757  2.605967  0.683509
          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
e  0.190794  1.978757  2.605967  0.683509

In [26]:
#to reset the index of a dataframe to 0,1,2... use reset_index() and the old index values will now be stored in a new column named index
df.reset_index()#to commit this change to the og dataframe, inplace=True needs to be passed to the function

  index         w         x         y         z
0     a  2.706850  0.628133  0.907969  0.503826
1     b  0.651118 -0.319318 -0.848077  0.605965
2     c -2.018168  0.740122  0.528813 -0.589001
3     d  0.188695 -0.758872 -0.933237  0.955057
4     e  0.190794  1.978757  2.605967  0.683509

In [31]:
#to set a column as index and replace the old one
newind = 'CA NY WY OR CO'.split()
df['States'] = newind
print(df.set_index('States'))#this change is not commited to the og dataframe
print(df)

               w         x         y         z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509
          w         x         y         z States
a  2.706850  0.628133  0.907969  0.503826     CA
b  0.651118 -0.319318 -0.848077  0.605965     NY
c -2.018168  0.740122  0.528813 -0.589001     WY
d  0.188695 -0.758872 -0.933237  0.955057     OR
e  0.190794  1.978757  2.605967  0.683509     CO